<div class="main-container">
  <div class="desktop" style="height: 100vh;max-height: 100svh;">
    <div class="sidebar" [class.sidebar-close]="!openSidebar">
      <div class="logo-details px-2 py-3 d-flex justify-content-center">
        <div class="logo"></div>
        <mat-icon
          *ngIf="openSidebar"
          style="color: orange; font-size: 30px; margin-top: 5px"
          class="arrow_back"
          (click)="openSidebar = false"
          >arrow_back</mat-icon
        >
      </div>
      <ul class="nav-links" [class.px-0]="!openSidebar"  [class.px-2]="openSidebar" id="nav-links">
        <li *ngFor="let item of navItems" [ngClass]="{'showMenu': (itemEl.classList.contains('active')) && item.sub_menu.length > 0}" #itemEl routerLinkActive="active">
          <div *ngIf="item.sub_menu.length == 0" class="dropdown-title d-flex align-items-center justify-content-between">
            <a style="height: 60px;" class="d-flex justify-content-center align-items-center full-width" [routerLink]="[item.path]">
              <mat-icon [ngClass]="openSidebar ? 'me-4' : 'me-0' " style="color: orange" class="link_icon">{{
                item.icon
              }}</mat-icon>
              <span *ngIf="openSidebar" class="link_name">{{
                item.link_name
              }}</span>
            </a>
          </div>
          <div
            *ngIf="item.sub_menu.length > 0"
            class="dropdown-title d-flex align-items-center justify-content-between  cursor-pointer"
            (click)="showSubmenu(itemEl)"
          >
            <a style="height: 60px;" class="d-flex justify-content-center align-items-center full-width">
              <mat-icon [ngClass]="openSidebar ? 'me-4' : 'me-0' " style="color: orange" class="link_icon">{{
                item.icon
              }}</mat-icon>
              <span *ngIf="openSidebar" class="link_name">{{
                item.link_name
              }}</span>
            </a>
            <mat-icon
              *ngIf="openSidebar"
              style="color: orange"
              class="arrow cursor-pointer"
              >keyboard_arrow_down</mat-icon
            >
          </div>

          <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
            <li class="d-flex align-items-center" [class.d-none]="isMobile || openSidebar">
              <a class="link_name">{{ item.link_name }}</a>
            </li>
            <li 
               class="d-flex align-items-center"
              *ngFor="let item_sub of item.sub_menu"
              routerLinkActive="active"
            >
              <a class="d-flex align-items-center full-width full-height" *ngIf="!openSidebar"  [routerLink]="[item_sub.path]">{{ item_sub.link_name }}</a>
              <a class="d-flex align-items-center justify-content-center full-width full-height" *ngIf="openSidebar"  [routerLink]="[item_sub.path]">{{ item_sub.link_name }}</a>

            </li>
          </ul>
        </li>
      </ul>
    </div>
    <section class="home-section d-flex flex-column text-white" [class.mobile]="isMobile">
      <div class="home-header d-flex align-items-center">
        <div class="hamburger-menu">
          <input
            type="checkbox"
            id="checkbox-hamburger-menu"
            [(ngModel)]="openSidebar"
          />
          <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </label>
        </div>
        <app-admin-header [title]="titleHeader"></app-admin-header>
      </div>
      <div class="d-flex flex-column p-3" style="overflow: auto">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>
