@import "../../../styles/settings";

.wrapper-nav {
  transform: translate3d(0, 0, 0);
  background: none;
  box-shadow: none;
  border-bottom: none;
}

.profile-menu {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.credentials-info {
  padding: 5px 15px;
}
::ng-deep {
  .mat-mdc-menu-content {
    padding: 15px 0px !important;
  }
  .mat-mdc-menu-panel {
    width: 500px;
  }
}

div.logOut {
  padding: 0px 15px;
  margin-top: 10px;
  button {
    background: #f8b218;
    border-radius: 20px;
    height: 40px;

    color: $white;

    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
