<div class="wrapper-nav fixed-top-mobile">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- <div class="d-flex align-items-center" style="margin-left: 5px">
        <a
          class="navbar-brand z-index-1"
          style="margin-right: 0"
          routerLink="/admin/dashboard"
        >
          <img class="navbar-brand" src="" alt="" />
        </a>
      </div> -->

      <div>
        <h3>{{ title }}</h3>
      </div>

      <div class="example-menu-row">
        <button
          color="primary"
          class="profile-menu"
          mat-raised-button
          [matMenuTriggerFor]="menu"
        >
          <strong>{{ userSettings.username[0] }}</strong>
        </button>
        <mat-menu #menu="matMenu">
          <div class="credentials-info">
            <h6>
              <strong>{{ userSettings.username }}</strong>
            </h6>
            <span>{{ userSettings.email }}</span>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>lock</mat-icon>
            Змінити пароль
          </button>
         
          <mat-divider></mat-divider>
          <div class="logOut">
            <button (click)="logOut()" mat-flat-button color="primary" dense>
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </div>
        </mat-menu>
      </div>
    </div>
  </nav>
</div>
