<div class="container-fluid main-toolbar__space mb-4">
  <!-- <div class="d-none d-md-flex full-width justify-content-start">
    <div class="d-none d-md-block">
      <a
        mat-raised-button
        id="back"
        class="back-button"
        (click)="backClicked()"
      >
        <mat-icon>chevron_left</mat-icon>
        Назад
      </a>
    </div>
  </div> -->

  <div class="page-content mx-auto my-5 col-lg-6 col-md-8 col-12">
    <mat-card appearance="outlined" class="full-width p-3">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit(form)"
        class="d-flex flex-column"
      >
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input
            matInput
            type="password"
            placeholder="Старий пароль"
            formControlName="oldPassword"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            oldPasswordFC!.invalid &&
            (oldPasswordFC!.dirty || oldPasswordFC!.touched)
          "
          class="alert alert-danger d-flex"
        >
          <mat-error *ngIf="oldPasswordFC!.errors?.['required']"
            >Пароль обов'язково</mat-error
          >
        </mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Новий пароль</mat-label>
          <input
            matInput
            type="password"
            placeholder="Пароль"
            formControlName="newPassword"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            newPasswordFC!.invalid &&
            (newPasswordFC!.dirty || newPasswordFC!.touched)
          "
          class="alert alert-danger d-flex"
        >
          <mat-error *ngIf="newPasswordFC!.errors?.['required']">
            Пароль обов'язково
          </mat-error>
          <!-- <mat-error class="w-300" *ngIf="newPassword!.errors?.['pattern']">
          Літери тільки на латині. 1 велика літера, 1 цифра
        </mat-error> -->
          <mat-error *ngIf="newPasswordFC!.errors?.['minlength']">
            Пароль повинен бути не менше
            {{newPasswordFC!.errors?.['minlength'].requiredLength}}
            символів.Зараз він
            {{newPasswordFC!.errors?.['minlength'].actualLength}}
          </mat-error>
        </mat-error>

        <mat-form-field appearance="outline">
          <mat-label>Новий пароль повторно</mat-label>
          <input
            matInput
            type="password"
            placeholder="Повторно введіть пароль"
            formControlName="confirmPassword"
          />
        </mat-form-field>

        <mat-error
          *ngIf="
            confirmPasswordFC!.invalid &&
            (confirmPasswordFC!.dirty || confirmPasswordFC!.touched)
          "
          class="alert alert-danger d-flex"
        >
          <mat-error *ngIf="confirmPasswordFC.errors?.['required']">
            Пароль обов'язково
          </mat-error>

          <mat-error
            class="text-danger"
            *ngIf="confirmPasswordFC.hasError('matching')"
          >
            Паролі не співпадають
          </mat-error>
        </mat-error>
        <div class="d-flex mb-3 justify-content-center align-items-center">
          <button
            type="submit"
            [disabled]="!form.valid"
            mat-raised-button
            color="primary"
            mat-button
          >
            Змінити пароль
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
