<div
  class="wrapper-nav fixed-top-mobile"
>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex align-items-center" style="margin-left: 5px">
        <a class="navbar-brand z-index-1" style="margin-right: 0">
          <img
            class="navbar-brand cursor-pointer"
            src=""
            alt="logo"
            (click)="navigateToChosePage()"
          />
        </a>

        <div class="title-wrappper d-flex">
          <h4 class="title-text pos-relative mb-0 text-white">LEARNING</h4>
          <h4 class="z-index-1 ml-2 mb-0 text-white">PLAN</h4>
        </div>
      </div>
    </div>
  </nav>
</div>
