.modal-close-btn{
  border: 0 !important;
  background: none;
}



.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-disabled {
    cursor: not-allowed;
  }

  &-move {
    cursor: move;
  }

  &-default {
    cursor: default;
  }

}