// @import "../../../../../../styles/settings";

input {
  border-radius: 20px;
  height: 45px;
  width: 270px;
  text-indent: 10px;
  border: 1px solid #f8b218;
}

label {
  font-size: clamp(18px, 2vw, 22px);
}

button {
  background: #f8b218;
  border-radius: 10px;
  height: 50px;
}

i {
  position: absolute;
  right: 13px;
  bottom: 12px;
}

.title-text::after {
  top: 41px;
}

div.login-wrapper {
  height: 100svh;
  background: url(../../../../../../assets/image/login-background.jpg)
    center/cover no-repeat;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: white;
  color: black;
  width: 270px;
  height: 55px; 
  font-size: clamp(18px, 2vw, 22px);
}

div.divider {
  margin-top: 20px;
  color: #f8b218;
  position: relative;  
}

.divider > span::before,
.divider > span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px; 
  height: 1px; 
  background-color:  #f8b218;
}

.divider > span::before {
  left: 0;
  margin-left: -35px;
}

.divider > span::after {
  right: 0;
  margin-right: -35px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  mat-icon {
    position: absolute;
    right: 12px;
    top: 63px;
    font-size: clamp(18px, 2vw, 22px);
    transform: translateY(-50%);
    color: mediumseagreen;
  }
}