<div class="login-wrapper d-flex align-items-center full-width">
  <div
    id="login-form-wrapper"
    class="d-flex align-items-center flex-column m-auto border-radius-14"
  >
    <div class="d-flex flex-column align-items-center">
      <div class="full-width">
        <div style="font-size: 20px" class="text-center text-white mt-3">
          Вхід
        </div>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)" class="mt-4">
        <div class="d-flex flex-column">
          <label class="text-white mb-2">Імя</label>
          <input
            type="text"
            matInput
            placeholder="Імя"
            formControlName="username"
          />
        </div>

        <div class="d-flex flex-column mt-3 pos-relative">
          <label class="text-white mb-2">Пароль</label>
          <input
            type="password"
            matInput
            placeholder="Пароль"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <i
            (click)="hide = !hide"
            class="{{ hide ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash' }}"
          ></i>
        </div>

        <div class="d-flex justify-content-center mt-4 w-100-p">
          <div class="full-width">
            <button
              color="primary"
              class="border-radius-32 bgc-brand full-width"
              mat-raised-button
              type="submit"
              mat-button
              [disabled]="loginForm.invalid"
            >
              <strong>Увійти</strong>
            </button>
          </div>
        </div>

        <!-- <div class="text-center mt-4">
          <a
            class="fsz-sm fw-7 text-brand text-general text-decoration-none"
            (click)="navigateToResetPage()"
          >
            <strong>Забули пароль?</strong>
          </a>
        </div> -->
      </form>
    </div>
  </div>
</div>
