<ng-container
  *ngIf="
    storeUsers.getUsers().length || !storeUsers.getIsLoadingAllUsers;
    else noData
  "
>
  <!-- header topics list -->
  <div class="topic-wrapper mt-3 mb-5">
    <div
      class="position-relative count-users-block d-flex flex-column col-12 col-sm-3 col-md-2 p-2"
    >
      <div class="icon-block bg-primary">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="d-flex flex-column align-items-end lh-1">
        <span class="text-secondary">Users</span>
        <span class="text-dark fsz-30"
          ><strong>{{ storeUsers.getUsers().length }}</strong></span
        >
      </div>
      <hr class="divider text-secondary" />
      <div class="d-flex">
        <span class="text-success"><strong>+55%</strong> </span
        ><span class="text-secondary">than last week</span>
      </div>
    </div>
  </div>

  <!-- card users -->

  <div class="filters-block"></div>

  <div class="cards-wrapper d-flex flex-wrap mt-3 column-gap-3 row-gap-3">
    <ng-container *ngFor="let user of storeUsers.getUsers(); index as i">
      <div
        class="card-item d-flex flex-column align-items-center col-lg-3 col-md-6 col-sm-12 col-xs-12"
      >
        <div class="avatar mt-3">
          <span class="fsz-20"
            ><strong>{{ user?.name[0] }}</strong></span
          >
        </div>
        <span class="text-secondary">{{ user?.role }}</span>
        <div class="d-flex flex-column align-items-center mt-3">
          <span>{{ user?.username }}</span>
          <div class="d-flex">
            <mat-icon style="color: lightcoral;">account_box</mat-icon>
            <span class="text-secondary">{{
              user?.createdAt | date : "MMM d, y"
            }}</span>
          </div>
     
        </div>

        <div class="bar-info mt-3">
          <div class="post-count d-flex flex-column align-items-center justify-content-center">
            <mat-icon>subtitles</mat-icon>
            <span><strong>{{user.posts.length ?? '0'}}</strong></span>
          </div>
        </div>
      </div></ng-container
    >
  </div>
</ng-container>

<ng-template #noData>
  <div
    class="position-relative count-users-block d-flex flex-column col-12 col-sm-3 col-md-2 p-2 skeleton-box-wrapper mt-3"
  >
    <div class="icon-block bg-primary skeleton-box">
      <mat-icon></mat-icon>
    </div>
    <div class="d-flex flex-column align-items-end lh-1 skeleton-box">
      <span class="text-secondary skeleton-box"></span>
      <span class="text-dark fsz-30 skeleton-box"><strong></strong></span>
    </div>
    <hr class="divider text-secondary skeleton-box" />
    <div class="d-flex skeleton-box">
      <span class="text-success skeleton-box"></span
      ><span class="text-secondary skeleton-box"></span>
    </div>
  </div>

  <div class="cards-wrapper d-flex flex-wrap mt-3 column-gap-3 row-gap-3">
    <ng-container *ngFor="let user of [1, 2, 4, 5]; index as i">
      <div
        class="card-item d-flex flex-column align-items-center col-lg-3 col-md-6 col-sm-12 col-xs-12 skeleton-box"
      >
        <div class="avatar mt-3 skeleton-box">
          <span class="fsz-20 skeleton-box"><strong></strong></span>
        </div>
        <span class="text-secondary skeleton-box"></span>
        <div class="d-flex flex-column align-items-center mt-3 skeleton-box">
          <span></span>
          <span class="text-secondary skeleton-box"></span>
        </div></div
    ></ng-container>
  </div>
</ng-template>
