ul {
  height: 500px;
  overflow: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  li {
    height: 50px;
    margin-top: 10px;
  }
}

.users-list {
  display: flex;
  flex-direction: column;
}
